@model List<WallaRssWebApplication.Models.Channel>

@{
    ViewBag.Title = "ViewRss";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>

    $(document).ready(function () {

        $.ajax({

            url: '@Url.Action("GetCategoriesList")',

            success: function (categoryList) {

                $.each(categoryList, function (index, value) {
                    $('div.vertical-menu').append(
                        $(document.createElement('a')).prop({
                            target: '_blank',
                            href: '#',
                            innerText: value.Name,
                        }).on("click", function () {
                            $("div.vertical-menu a").removeClass("active");
                            $(this).addClass("active");
                            FillItems(value.Name);
                            return false;
                        })
                    );
                });

                $("div.vertical-menu a:first-child").click();

            }
        });


        function FillItems(categoryTitle) {

            var url = '@Url.Action("ChannelContent")' + '?title=' + encodeURI(categoryTitle);

            $.get(url, function (data) {
                $("div.container-fluid").html(data);
            });
        }

        $("button.refresh-button").on("click", function () {
            //debugger;
            var title = $("div.vertical-menu a.active").text();
            FillItems(title);

        })

    });
</script>

<style>
    div.vertical-menu a {
        margin-bottom: 5px;
    }
</style>

<div class="vertical-menu">
</div>
<div id="page-content-wrapper">
    <div class="container-fluid">
 
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">

        </div>
    </footer>
</div>




